version: 2
jobs:
  deploy-testnet:
    docker:
      - image: circleci/node:8.10
    steps:
      - add_ssh_keys:
          fingerprints:
            - 'd5:04:f5:92:55:14:83:f8:87:c9:96:81:47:8b:33:b4'
      - run:
          name: Setup SSH Key Testnet
          command: |
            ssh-keyscan -H ${SSH_HOST_TESTNET} >> ~/.ssh/known_hosts
      - run:
          name: Deploy
          command: |
            ssh ${SSH_USER}@${SSH_HOST_TESTNET} "pm2 deploy ecosystem.config.js testnet update"

  deploy-mainnet:
    docker:
      - image: circleci/node:8.10
    steps:
      - add_ssh_keys:
          fingerprints:
            - 'b6:74:98:6c:ec:e5:93:20:bf:30:8a:5f:09:22:e8:ff'
      - run:
          name: Setup SSH Key Mainnet
          command: |
            ssh-keyscan -H ${SSH_HOST_MAINNET} >> ~/.ssh/known_hosts
      - run:
          name: Deploy
          command: |
            ssh ${SSH_USER}@${SSH_HOST_MAINNET} "pm2 deploy ecosystem.config.js mainnet update"

workflows:
  version: 2
  build:
    jobs:
      - deploy-testnet:
          filters:
            branches:
              only: tesnet
      - deploy-mainnet:
          filters:
            branches:
              only: master
